<div class="planet-card">
   <div class="planet" style="background-color: {{ planet.color }}; width: {{ planet.size }}; height: {{ planet.size }};"></div>
   <h2>{{ planet.name }}</h2>
   <p>{{ planet.au }} AU</p>
</div>
